section h1{
  display: inline-block;
  margin:20px;
  font-size: 25px;
  color: #ffffff;
}
nav{
  float: right;
}
nav h1{
  font-size: 20px;
}
body {
  background-image: url("../img/Document.jpg");
  background-size: 100%;
}
.button{
  border: 1px solid #ffffff;
  padding: 8px;
  border-radius: 8px;
}

.button:hover, .button:active{
  background-color: #ffffff;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}
